<?xml version="1.0"?>
<config>
  <default>
      <opengraph>
          <facebook>  
            <enable>0</enable>              
            <appcode>0</appcode>   
          </facebook>  
          <twitter>
            <enable>0</enable>
          </twitter>    
      </opengraph>
  </default>
  <modules>
    <Jaljale_OpenGraph>
      <version>0.1.0</version>
    </Jaljale_OpenGraph>
  </modules>
  <frontend>
    <routers>
      <opengraph>
        <use>standard</use>
          <args>
            <module>Jaljale_OpenGraph</module>
            <frontName>opengraph</frontName>
          </args>
      </opengraph>
    </routers>
		<layout>
		  <updates>
			<opengraph>
			  <file>opengraph.xml</file>
			</opengraph>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <opengraph>
        <class>Jaljale_OpenGraph_Helper</class>
      </opengraph>
    </helpers>
	<blocks>
	  <opengraph>
		<class>Jaljale_OpenGraph_Block</class>
	  </opengraph>
	</blocks>
  </global>
</config> 